In [9]:
import numpy as np
import pandas as pd

In [12]:
# Create a dataframe of ten rows, four columns with random values. Write a Pandas program to highlight the negative numbers red and positive numbers black.

np.random.seed(20)
data = pd.DataFrame({'A' : np.linspace(1,10,10)})
data = pd.concat([data, pd.DataFrame(np.random.randn(10,4), columns = list ('BCDE'))], axis = 1)
print(data)

def color_negative_red(num):
  if num < 0:
    color = 'red',
  else:
    color = 'black'
  return 'color: %s' % color

print("Negative Numbers Red and Positive Numbers Black")
data.style.applymap(color_negative_red)

      A         B         C         D         E
0   1.0  0.883893  0.195865  0.357537 -2.343262
1   2.0 -1.084833  0.559696  0.939469 -0.978481
2   3.0  0.503097  0.406414  0.323461 -0.493411
3   4.0 -0.792017 -0.842368 -1.279503  0.245715
4   5.0 -0.044195  1.567633  1.051109  0.406368
5   6.0 -0.168646 -3.189703  1.120132  1.332778
6   7.0 -0.243339 -0.130031 -0.109017  1.556186
7   8.0  0.128778 -2.066949 -0.885493 -1.104579
8   9.0  0.932866  2.059838 -0.934938 -1.612990
9  10.0  0.527070 -1.551101  0.329613 -1.136527
Negative Numbers Red and Positive Numbers Black

In [24]:
#Create a dataframe of ten rows, four columns with random values. Convert some values to nan values. Write a Pandas program which will highlight the nan values.
np.random.seed(20)
data = pd.DataFrame({'A' : np.linspace(1,10,10)})
data = pd.concat([data, pd.DataFrame(np.random.randn(10,4), columns = list('BCDE'))], axis = 1)
data.iloc[0,2] = np.nan
data.iloc[1,3] = np.nan
data.iloc[4,4] = np.nan
data.iloc[8,3] = np.nan
print(data)

print("Null value with Red color")
data.style.highlight_null(null_color='red')

      A         B         C         D         E
0   1.0  0.883893       NaN  0.357537 -2.343262
1   2.0 -1.084833  0.559696       NaN -0.978481
2   3.0  0.503097  0.406414  0.323461 -0.493411
3   4.0 -0.792017 -0.842368 -1.279503  0.245715
4   5.0 -0.044195  1.567633  1.051109       NaN
5   6.0 -0.168646 -3.189703  1.120132  1.332778
6   7.0 -0.243339 -0.130031 -0.109017  1.556186
7   8.0  0.128778 -2.066949 -0.885493 -1.104579
8   9.0  0.932866  2.059838       NaN -1.612990
9  10.0  0.527070 -1.551101  0.329613 -1.136527
Null value with Red color

In [36]:
# Create a dataframe of ten rows, four columns with random values. Write a Pandas program to highlight the maximum value in each column.
# Create a dataframe of ten rows, four columns with random values. Write a Pandas program to highlight the minimum value in each column.

np.random.seed(20)
data = pd.DataFrame({'A' : np.linspace(1,10,10)})
data = pd.concat([data, pd.DataFrame(np.random.randn(10,4), columns = list('BCDE'))], axis = 1)
data.iloc[0,2] = np.nan
data.iloc[1,3] = np.nan
data.iloc[4,4] = np.nan
data.iloc[8,3] = np.nan


def highlight_max(num):
  is_max = num == num.max()
  return ['background-color: green' if i else " " for i in is_max]


def highlight_min(num):
  is_min = num == num.min()
  return['background-color: yellow' if i else " " for i in is_min]

data.style.apply(highlight_max, subset=pd.IndexSlice[:,['B', 'C', "D", "E"]])

data.style.apply(highlight_min, subset=pd.IndexSlice[:,['B', 'C', "D", "E"]])

In [7]:
# Create a dataframe of ten rows, four columns with random values. Write a Pandas program to set dataframe background Color black and font color yellow.

np.random.seed(20)
data = pd.DataFrame({'A' : np.linspace(1,10,10)})
data = pd.concat([data, pd.DataFrame(np.random.randn(10,4), columns = list('BCDE'))], axis = 1)
data.iloc[0,2] = np.nan
data.iloc[1,3] = np.nan
data.iloc[4,4] = np.nan
data.iloc[8,3] = np.nan


data.style.set_properties(**{'background-color': 'black', 'color': 'green'})

In [8]:
# Create a dataframe of ten rows, four columns with random values. Write a Pandas program to highlight dataframe's specific columns
np.random.seed(20)
data = pd.DataFrame({'A' : np.linspace(1,10,10)})
data = pd.concat([data, pd.DataFrame(np.random.randn(10,4), columns = list('BCDE'))], axis = 1)
data.iloc[0,2] = np.nan
data.iloc[1,3] = np.nan
data.iloc[4,4] = np.nan
data.iloc[8,3] = np.nan

def highlight_color(num):
  color = 'grey'
  return 'background-color: %s' % color

data.style.applymap(highlight_color, subset=pd.IndexSlice[:,['C',"D"]])

In [19]:
np.random.seed(20)
data = pd.DataFrame({'A' : np.linspace(1,10,10)})
data = pd.concat([data, pd.DataFrame(np.random.randn(10,4), columns = list('BCDE'))], axis = 1)
data.iloc[0,2] = np.nan
data.iloc[1,3] = np.nan
data.iloc[4,4] = np.nan
data.iloc[8,3] = np.nan


def highlight_greaterthan(num):
  if num.C > 0.5:
    return ['background-color: yellow'] * 5
  else:
    return ['background-color: white'] * 5

data.style.apply(highlight_greaterthan, axis=1)

In [20]:
# Create a dataframe of ten rows, four columns with random values. Write a Pandas program to display the dataframe in Heatmap style.

np.random.seed(20)
data = pd.DataFrame({'A' : np.linspace(1,10,10)})
data = pd.concat([data, pd.DataFrame(np.random.randn(10,4), columns = list('BCDE'))], axis = 1)
data.iloc[0,2] = np.nan
data.iloc[1,3] = np.nan
data.iloc[4,4] = np.nan
data.iloc[8,3] = np.nan

data.style.background_gradient(cmap='viridis')

In [22]:
# Create a dataframe of ten rows, four columns with random values. Write a Pandas program to make a gradient color mapping on a specified column


np.random.seed(20)
data = pd.DataFrame({'A' : np.linspace(1,10,10)})
data = pd.concat([data, pd.DataFrame(np.random.randn(10,4), columns = list('BCDE'))], axis = 1)
data.iloc[0,2] = np.nan
data.iloc[1,3] = np.nan
data.iloc[4,4] = np.nan
data.iloc[8,3] = np.nan


data.style.background_gradient(subset=['B'])

In [23]:
# Create a dataframe of ten rows, four columns with random values. Write a Pandas program to make a gradient color on all the values of the said dataframe

np.random.seed(20)
data = pd.DataFrame({'A' : np.linspace(1,10,10)})
data = pd.concat([data, pd.DataFrame(np.random.randn(10,4), columns = list('BCDE'))], axis = 1)
data.iloc[0,2] = np.nan
data.iloc[1,3] = np.nan
data.iloc[4,4] = np.nan
data.iloc[8,3] = np.nan

data.style.background_gradient()

In [24]:
# Create a dataframe of ten rows, four columns with random values. 
# Write a Pandas program to display the dataframe in table style and border around the table and not around the rows.

np.random.seed(20)
data = pd.DataFrame({'A' : np.linspace(1,10,10)})
data = pd.concat([data, pd.DataFrame(np.random.randn(10,4), columns = list('BCDE'))], axis = 1)
data.iloc[0,2] = np.nan
data.iloc[1,3] = np.nan
data.iloc[4,4] = np.nan
data.iloc[8,3] = np.nan

data.style.set_table_styles([{'selector':'','props':[('border','4px solid #7a7')]}])